<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manage Products</title>

</head>
<body>
    <div>

    <a href="admin.hbs"><h1>Fragrance for women</h1></a>
    <h2>Pefumes</h2>
    <h2>Deodrants and Roll-Ons</h2>
    <h2>Body Mists and prays</h2>
    <h2>Perfumed creams and solid perfumes</h2>


    <h1>Fragrance for women</h1>

    </div>
    
</body>
</html>