<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>hiiii there</h1>


<div>
	<ul>
		{{#each userlist}}
		<li>{{name}}&nbsp;({{price}})<br>{{rating}}</li>
        <img src="{{image}}"/>
        <li></li>
		{{/each}}
	</ul>
</div>
    
</body>
</html>