<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0" />

    <title>Document</title>
    <link rel="stylesheet" href="../css/products.css" />
    <style>

        main{
            display: grid;
            grid-template-columns:  150px 150px 150px;
            width: 100px;

        }
        #p_size{
            font-size: 20px;
            
        }

    </style>

  </head>
  <body>


    <main>
      <div id="product">

          

        {{#each userlist}}
        
          <div id="p_size">
              <img src="{{image}}" alt="" />
              {{name}}&nbsp;<br/>
              ({{price}})<br />
           
          {{rating}}<br />

           
          </div>

          <li></li>
        
        {{/each}}
        
      </div>


    <main>
  </body>
</html>