
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    	<link rel="stylesheet" href="./css/card.css">
    <script src="https://kit.fontawesome.com/c4e502dbf0.js" crossorigin="anonymous"></script>
    <title>Cart</title>
    <style>
  


    </style>
   
</head>

<body>

    <div id="top-box">
    <div><a href="AfterLogin.html"><img id="logo" src="https://media6.ppl-media.com/static/purplle/img/purplle-logo-1.svg"/></a></div>
            <div class="basket-icons"> 
               
                <a href="card.html"><i class="fas fa-cart-plus fa-3x" id="check"></i></i></a>

                 <a href="address.html"><i class="fas fa-address-card fa-3x" id="face"></i></a>


            </div>
            
        </div>
        <h1>Cart Items</h1>

 <div id="top">
     <div id="mini">
        <div id="help">Need help? 922330022</div>
        <h3>Price Details</h3>
        <div id="smallBox">
            <div>
                <div>Total MRP:</div>
               <p id="mrp"></p>
            </div>
            <div>
                <div class="ship">Shipping charges:</div>
                <div>Free</div>
            </div>
            <div>
                <div>Coupon Discount:</div>
                <div class="dis">₹0</div>
            </div>
            <div>
                
               
                <div ></div>
            </div>
           
        </div>

    </div>
    <button><a href="address.html">Place order</a></button>
    </div>
    <div id="data">
   	{{#each card}} 
    <div>

        <img src={{image}} alt="">
		<p class="txt">{{name}} <br> ₹{{price}}</p>
       <p class="f txt"> ★{{rating}}</p>
		
	
    </div>
    {{/each}}
    </div>

</body>

</html>
<script>

     let card_data = JSON.parse(localStorage.getItem("card"));
  

    let data_div = document.getElementById("data");
     var total = 0;
    var totalitem =0;
    card_data.forEach(function (product) {
       
        let div = document.createElement("div");

        let p_name = document.createElement("p");

        p_name.innerText = product.name;
        p_name.style.float="left";
        p_name.setAttribute("class","txt")
    

        let p_price = document.createElement("p");

        p_price.innerText = product.price;

        let image = document.createElement("img");

        image.src = product.image;

        p_name.append(p_price);
        
        div.append(image, p_name);

        data_div.append(div);
        var out = product.price;
        var x = out.replace("₹","0")
         total = total + Number(x);
         console.log(total);
         totalitem = totalitem+Number(1);
    });


     console.log(total);
    var total_h1 = document.getElementById("mrp");


    if(total_h1){

    total_h1.innerHTML = "₹"+total;
}

    
 
   
</script>